.infoWindow{
    background-color: azure;
    overflow: hidden;
    width: 30em;
    position: relative;
    text-align: center;
    font-size: 0.5rem;
    top: 1em;
}
.infoWindow img{
    width: 20em;
}
.arts {
    height: 5px;
    width: 5px;
  }